<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: headerFragment}"></head>
<body>
	<div th:replace="~{fragments :: navbarFragment}"></div>

	<div class="container d-flex">
		<div th:replace="~{fragments :: sidebarFragment2}"></div>
		<div class="ml-5">
			<div class="row">
				<h1>Buscar Estacionamiento</h1>
			</div>
			<div id="events-cascade">
				<table>
					<thead>
						<tr>
							<th scope="col" colspan="3">Plaza de estacionamiento</th>
							<th scope="col" colspan="2">Sensor de estacionamiento</th>
						</tr>
						<tr>
							<th scope="col">Habilitado</th>
							<th scope="col">Numero</th>
							<th scope="col">Sector</th>
							<th scope="col">Disponible</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="device: ${devices}" th:object-id="${device.id}">
							<td><input class="checkbox-big" type="checkbox"
								disabled="disabled" name="enabled"
								th:checked="${device.enabled}" /></td>
							<td><a
								th:href="@{/dispositivos/{name} (name=${device.name})}"
								class="btn btn-secondary" th:text="${device.name}"></a></td>
							<td><a href="#" class="btn btn-primary update-btn">Editar</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>


	<div th:replace="fragments :: footerFragment"></div>
	<script src="/js/dropDown.js"></script>
</body>
</html>