<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>UNLa</title>
		<!-- Bootstrap core CSS -->
		<!--<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
		<link href="/css/modern-business.css" rel="stylesheet" /> -->
	</head>
	<body>
	    <!-- Page Content -->
	    <div class="container">
	      <div class="jumbotron">
	        <h1 class="display-5">Login</h1>
	        <form th:action="@{loginProcess}" th:object="${user}"  method="post">
		      	<input type="text" th:field="*{username}" name="username" id="username" placeholder="Usuario" />
		      	<input type="password" th:field="*{password}" name="password" id="password" placeholder="Contraseña" />
		      	<input type="submit" />
	      	</form>
<!--
	      	<div th:if="${error != null}" class="alert alert-danger">
		    	Usuario o contraseña incorrecta.
		    </div>
		    -->
	      </div>
	    </div>
	    <!--
		<div class="toggle-container">
			<div class="container-theme toggle" onclick="toggleState()">
			  <div class="circle">
				<div class="moon-shadow"></div></div>
			  <div class="sun-rays"></div>
			  
			</div>
		</div>
			-->
		</div>
	    <!-- Bootstrap core JavaScript -->
	    <script src="/vendor/jquery/jquery.min.js"></script>
	    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	</body>
</html>
<!--
<script>
	function toggleState() {
		var toggle = document.querySelector('.toggle');
		toggle.classList.toggle('active');
	}

</script>
-->