<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org" >
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<title>UNLa</title>
	<!-- Bootstrap core CSS -->
	<link href="UNLa_files/bootstrap.min.css" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="UNLa_files/modern-business.css" rel="stylesheet">
</head>
<body>
	<!-- Navigation -->
	<div th:replace="fragments :: navbar"></div th:replace>


	<main class="container" style="width:100%">
		<div th:replace="fragments :: sidebar"></div th:replace>
		<img src="background-image: url('/src/main/resources/static/asset/Plano-UNLa.jpg')">	
	</main class="container" style="width:100%">
	

	<!-- Page Content -->
	<main class="container" style="width:100%">
		<div th:replace="fragments :: sidebar"></div th:replace>
		<img src="background-image: url('/src/main/resources/static/asset/Plano-UNLa.jpg')">	
	</main class="container" style="width:100%">
	
	
<div th:replace="fragments :: sidebar-1"></div th:replace>

<div th:replace="fragments :: footer"></div th:replace>
			
	
	<!-- Bootstrap core JavaScript -->
	<script src="UNLa_files/jquery.min.js"></script>
	<script src="UNLa_files/bootstrap.bundle.min.js"></script>
	<script type="text/javascript">
		$("#select-person").change(function() {
			var personId = $("#select-person").val();
			if($.isNumeric(personId)){
				$.ajax({ //https://api.jquery.com/jquery.ajax/ => Examples:
					method: "GET",
				 	url: "/person/partial/" + personId,
				})
				.done(function(result) {
					$("#div-select-person").html(result);
				})
				.fail(function() {
					alert("error");
				});
			}else $("#div-select-person").html("");
		});
	</script>


</body><style type="text/css"></style></html>